* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #4f5361;
}

/* Common */
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* ======================= Header ==================== */
.header {
  background: #e6f0ff;
  height: 100vh;
  position: relative;
}

/* Navbar */
.navbar {
  display: flex;
  padding-top: 38px;
  align-items: center;
}

.navbar .logo {
  margin-right: 50px;
}

.navbar ul {
  display: flex;
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar ul li {
  margin: 0 14px;
}

.navbar ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar .action {
  margin-left: auto;
}

.navbar .action .action-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
}

.navbar .action .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

/* Hero */
.hero .info {
  margin-top: 130px;
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1;
}

.hero .title {
  color: #000336;
  font-size: 6.3rem;
  font-weight: 700;
  line-height: 1.18;
  margin-top: 8px;
}

.hero .desc {
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 30px;
}

.hero .hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero .hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}

/* ======================= Clients ==================== */
.clients {
  margin-top: 79px;
}

.clients .content {
  padding-top: 43px;
  padding-bottom: 41px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row-desc {
  margin-top: 18px;
}

.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}

.clients .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
}

.clients .images img:nth-child(3) {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 31px 41px 23px;
}

/* ======================= Guides ==================== */
.guides {
  margin-top: 40px;
  padding: 79px 0;
}

.guides .sub-title {
  position: relative;
  margin-top: 79px;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.guides .sub-title::before {
  content: "";
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

.guides .list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.guides .guide-item {
  margin: 0 70px;
  text-align: center;
}

.guides .guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

.guides .guide-item .link {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}

.guides .guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* ======================= Featured ==================== */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .featured-list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .featured-list .featured-link {
  display: inline-block;
  flex: 1;
}

.featured .featured-item {
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .featured-item .thumb {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .featured-item .body {
  margin: 17px 20px 24px;
}

.featured .featured-item .title {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.featured .featured-item .desc {
  --line-clamp: 3;
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  word-break: break-all;
}

.featured .featured-item .info {
  margin-top: 21px;
}

.featured .featured-item .info .icon {
  margin-left: 22px;
}

.featured .featured-item .info .icon:first-child {
  margin-left: 0;
}

.featured .featured-item .info .label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #4d4d52;
}

/* ======================= Stats ==================== */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .content {
  width: 1017px;
}

.stats .row {
  display: flex;
  position: relative;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block .img-info {
  display: block;
  width: 400px;
  height: 460px;
  border-radius: 12px;
  object-fit: cover;
  margin-left: auto;
}

.stats .stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 22px 40px;
  width: 239px;
  border-radius: 0px 0px 12px 12px;
  background-color: #fff;
}

.stats .stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.26px;
}

.stats .stats-trend .img-trend {
  margin-left: auto;
}

.stats .stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.stats .stats-trend .seperate {
  margin-top: 25px;
  border: 1.2px solid #e9e9e9;
}

.stats .avatar-block {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
  margin-top: 26px;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  border-radius: 50%;
}

.stats .avatar:first-child {
  margin-left: 0px;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .info .title {
  position: relative;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.28;
  width: 269px;
}

.stats .info .title::before {
  position: absolute;
  top: -10px;
  content: "";
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.stats .info .desc {
  margin-top: 20px;
  width: 309px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.stats .row-qty {
  justify-content: space-between;
  margin-top: 110px;
  padding: 0 32px;
}

.stats .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}

.stats .qty-desc {
  margin-top: 22px;
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}

/* ======================= Subcriptions ==================== */
.subcriptions {
  margin-top: 90px;
}

.subcriptions .body {
  display: flex;
  position: relative;
  height: 370px;
  align-items: center;
  border-radius: 20px;
  background: #063183;
}

.subcriptions .body .info {
  padding: 0 80px;
}

.subcriptions .title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.subcriptions .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.subcriptions .btn {
  margin-top: 20px;
  min-width: 151px;
  background: #fff;
  color: #002366;
  font-size: 1.3rem;
  font-weight: 500;
}

.subcriptions img {
  position: absolute;
  bottom: 0;
  right: 211px;
}
